<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <h1>Login</h1>
  <form action="/auth/login" method="POST">
    <label for="email">Email</label>
    <br>
    <input type="email" name="email" placeholder="enter email">
    <br><br>
    <label for="password">Password</label>
    <br>
    <input type="password" name="password" placeholder="enter password">
    <br><br>
    <button type="submit">Login</button>
  </form>
  <br><br>
  <nav>
  <a href="/signup">Sign Up here!</a>
  <br><br>
  <a href="/blogs/my-articles">My Articles</a>
  
  </nav>
</body>
</html>
